.container {
  width: auto;
  margin: 0;
  padding: 0 15px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 27px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 40px;
  }
}
