.container {
  position: relative;
  min-width: $mobile-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: $tablet-width) {
  .container {
    min-width: $tablet-width;
    padding: 0 27px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    min-width: $desktop-width;
    padding: 0 15px;
  }
}
