.section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section__title {
  margin: 0;
  color: $white;
  text-align: center;
  font-family: $font-title;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
}

.section__lead {
  margin: 0;
  font-family: $font-usual;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: $orange;
}

@media (min-width: $tablet-width) {
  .section__title {
    font-size: 36px;
    line-height: 42px;
  }

  .section__lead {
    font-size: 16px;
    line-height: 26px;
  }
}
