// Fonts
$font-lead: "Roboto Light", "Arial Light", sans-serif;
$font-usual: "Roboto", "Arial Regular", sans-serif;
$font-highlight: "Roboto Medium", "Arial Medium", sans-serif;
$font-important: "Roboto Bold", "Arial Black", sans-serif;
$font-title: "Yeseva One", "Times New Roman", serif;

// Color

$dark: #151313;
$light-grey: #1f1c1d;
$white: #ffffff;
$orange: #a07b50;

// Breakpoints

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;
